.place__website__url-heading {
  width: 456px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  padding: 0;
  margin: 0;
  
  margin-bottom: 12px;

  letter-spacing: 2px;

  color: #AAAAAA;
}

@media screen and (max-width: 320px)  {
  .place__website__url-heading {
    margin-left: 16px;
  }
}